body {
    background-color: lightgray;
    font-family: 'Abel', sans-serif;
}
h1 {
    font-size: 64px;
    margin:20px;
}
h2 {
    font-size: 40px;
    margin:40px;
}
h4{
    font-size: 32px;
}

.orange-circle {
    width: 105px;
    height: 105px;
    background-color:#E6563B;
}

.green-circle {
    width: 105px;
    height: 105px;
    background-color:#7CB06C;
}

.yellow-circle {
    width: 105px;
    height: 105px;
    background-color:#DEA03D;
}

.blue-circle {
    width: 105px;
    height: 105px;
    background-color:#00ABA9;
}
#orange-circle {
    align-items: center;
    border: solid 6px #FFF;
    color:#FFF;
}
#green-circle {
    align-items: center;
    border: solid 6px #FFF;
    color:#FFF;
}
#yellow-circle {
    align-items: center;
    border: solid 6px #FFF;
    color:#FFF;
}
#blue-circle {
    align-items: center;
    border: solid 6px #FFF;
    color:#FFF;
}
.rounded-circle {

}
.large-margin{
    margin-bottom: 100px;
}
img {
    width:100%;
    border-radius: 25px;
    border: solid #E6E6E6 15px;
}
@media screen and (max-width:500px) {
    #macbook{
        display:none;
    }
    #man{
        display:none;
    }
    #security{
        display:none;
    }
}
.orange-icon {
    width: 18px;
    height: 18px;
    background-color: #E6563B;
    font-weight: bolder;
    align-items: center;
}
.yellow-icon {
    width: 18px;
    height: 18px;
    background-color: #DEA03D;
    font-weight: bolder;
    align-items: center;
}
.green-icon {
    width: 18px;
    height: 18px;
    background-color: #7CB06C;
    font-weight: bolder;
    align-items: center;
}
.blue-icon {
    width: 18px;
    height: 18px;
    background-color: #00ABA9;
    font-weight: bolder;
    align-items: center;
}